@import url('https://fonts.googleapis.com/css2?family=Noto+Znamenny+Musical+Notation&display=swap');
*{
    box-sizing: border-box;
}
body {
    font-family: "Noto Znamenny Musical Notation", Helvetica, sans-serif;
    background-color: rgb(246, 240, 251);
;
}
h1 {
    margin: 0 auto;
    text-align: center;
}
h2 {
    text-align: center;
}
.main, .header {
    width: 540px;
    margin: 0 auto;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.input-container button {
    background-color: rgb(147, 112, 219);
    color: rgb(242, 240, 255);
    padding: 4px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.input-container button:hover {
    background-color: rgb(125, 80, 200);
}
.input-unit {
    display: flex;
    justify-content: space-between;
}
.input-unit input {
    width: 75%;
}
.input-unit label {
    display: inline-block;
}
.person-list button {
    background-color: rgb(147, 112, 219);
    color: rgb(242, 240, 255);
    padding: 4px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 18px;
    width: 18px;
}
.person-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}